<form ng-submit="main.filter.text = main.textFilter">
  <div class="input-group">
    <input type="text" ng-model="main.textFilter" class="form-control" placeholder="过滤器与设备名称…">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" type="button">提交</button>
    </span>
  </div>
</form>
