<form id="datapointForm">
    <div class="form-group">
        <label>最小</label>
        <input class="form-control" type="number" ng-model="dp.min" placeholder="Min" required>
    </div>
    <div class="form-group">
        <label>最大</label>
        <input class="form-control" type="number" ng-model="dp.max" placeholder="Max" required>
    </div>
    <div class="form-group">
        <label>黄色的最小值</label>
        <input class="form-control" type="number" ng-model="dp.yellowRangeMin" placeholder="Min" required>
    </div>
    <div class="form-group">
        <label>黄色的最大值</label>
        <input class="form-control" type="number" ng-model="dp.yellowRangeMax" placeholder="Min" required>
    </div>
    <div class="form-group">
        <label>黄色的最小值</label>
        <input class="form-control" type="number" ng-model="dp.redRangeMin" placeholder="Red Range Min" required>
    </div>
    <div class="form-group">
        <label>红色的最大值</label>
        <input class="form-control" type="number" ng-model="dp.redRangeMax" placeholder="Red Range Max" required>
    </div>
    </div>
</form>
